<!-- this is HOME page -->
<div class="intro">
  <h1>Habit Tracker</h1>
  <p>If you are going to achieve excellence in big things, you develop the habit in little matters...</p>
  <a href="/habit/dashboard" >
    <button>Health Dashboard!⚕️</button>
  </a>
</div>